<div class="container">
  <h1>Clubs#show</h1>
  <h1>My Team</h1>

  <div>
    player
  </div>


  <div>
   <% @club.players.each do |player| %>
    <div>
      <p><%=  player.name %>  <%= player.position %> <%= player.salary %>€/month</p>
    </div>
   <% end %>
  </div>
</div>

