<div class="conversations-container" style="width: 20%">
    <% @conversations.each do |conversation| %>
     <div class="conversation-card" data-conversation-id="<%= conversation.id %>" style="padding: 10px">
      <% if conversation.sender_id == current_user.id %>
        <% user_conversation_with = User.find(conversation.receiver_id) %>
      <% else %>
        <% user_conversation_with = User.find(conversation.sender_id) %>
      <% end %>
      <%= link_to user_conversation_with.player.nil? ? user_conversation_with.email : user_conversation_with.player.name , conversation_path(user_conversation_with) %>
       <%#= link_to chatroom.name, '#', :onclick => 'initChatroomCable(4)' %>
      <%#= link_to message.user.player.name, chatroom_path(chatroom) %>
     </div>
   <% end %>
</div>
