<div class="chatpage-container" style="display: flex">
<%= render 'chatrooms/chatrooms_container' %>

<!-- <div id="current-chat-container" style="margin: 10px 10px 10px 10px; padding: 5px; width: 60%">
  <%# @chatrooms.each do |chatroom| %>
    <div class="message-container" id="message-<%#= chatroom.id %>">
      <i class="author">
        <span><%#= chatroom.messages %></span>
        <small><%#= chatroom.messages.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%#= chatroom.messages.content %></p>
    </div>
  <%# end %>
</div> -->
</div>
