<br>
<div class="chatpage-container" style="display: flex">
<div class="chatrooms-container" style="width: 20%">
<!-- data-chatroom-name="<%#= @chatrooms.name %>" -->
  <% @chatrooms.each do |chatroom| %>
    <div class="chatroom-card" data-chatroom-id="<%= chatroom.id %>" style="padding: 10px">
      <%#= link_to chatroom.name, '#', :onclick => 'initChatroomCable(4)' %>
      <button id="chatroom-button" data-chatroom-id="<%= chatroom.id %>">
        <%= chatroom.name %>
      </button>
    </div>
  <% end %>
</div>
<div id="current-chat-container" style="margin: 10px 10px 10px 10px; padding: 5px; width: 60%">
  This is a test
</div>
</div>

<!-- <script>
  const initChatroomCableLocal = (id) => {
  const messagesContainer = document.getElementById('current-chat-container');
  console.log("Test");
  if (messagesContainer) {
    const id = messagesContainer.dataset.chatroomId;

    consumer.subscriptions.create({ channel: "ChatroomChannel", id: id }, {
      received(data) {
        // console.log(data); // called when data is broadcast in the cable
        messagesContainer.insertAdjacentHTML('beforeend', data);
      },
    });
  }
}
</script>
 -->
