<h1>Users:</h1>
<ul>
  <p>Following</p>
  <%= render @users %>
</ul>



<ul>
<p>Followers</p>
  <% current_user.followers.each do |follower| %>
  <li>
    <%= follower.club.name%>
    <%= follower.email %>
  <% end %>
  </li>
</ul>
