<h1>Users:</h1>
<ul>
  <p>Following</p>
  <%= render @users %>
</ul>
<p>Followers</p>
<ul>
  <% current_user.followers.each do |follower| %>
  <%= follower.club.name%>
  <%= follower.email %>
  <% end %>
</ul>
