<div class="banner">
  <div class="container">
    <div class="banner-intro">
      <h1>Welcome to Join2Kick</h1>
      <h2>We bring clubs and <br> players together!</h2>
      <% if user_signed_in? %>
        <%= link_to 'Get started'.html_safe, club_path(current_user.club.nil? ? current_user.player.club : current_user.club), class: "button" %>
      <% else %>
        <%= link_to 'Get started'.html_safe, new_user_registration_path, class: "button" %>
      <% end %>
    </div>
    <div class="banner-image"></div>
  </div>
</div>

<div class="container">
  <div class="cards-info">
    <div class="card-info">
      <h3>Get the player you need</h3>
      <p>Smart Recruting with Join<strong>2</strong>Kick. Social Media Recruitment with Join2Kick offers <strong>you</strong> as club owner effectively scout potential players based on your needs</p>
    </div>
    <div class="card-info">
      <h3>Find the club you deserve</h3>
      <p>connect with people that are really able to boost your career. All based on <strong>your</strong> profil, your skills and most important on your claims. </p>
    </div>
    <div class="card-info">
      <h3>Whats init for you</h3>
      <p>Your team saves time, money and unnecessary expenses- searching Join<strong>2</strong>Kick is not just a job board, just simply the smarter way to recruit players.</p>
    </div>
    <div class="card-info">
      <h3>Who is Join2Kick for?</h3>
      <p> it's for everyone and thats as simple as it is! Join your friends and be part of the biggest team and share your passion in a Newsfeed adapted to you.</p>
    </div>
  </div>
</div>

