.button {
  color: white;
  padding: 16px 30px 16px 30px;
  border: none;
  border-radius: 5px;
  background: #213757;
  transition: background 0.2s ease;
  opacity: 1;
  &:hover {
    background: #213757;
    opacity: 0.6;
    color: white;
    text-decoration: none;
  }

}

.button-filter {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  color: white;
  padding: 16px 30px 16px 30px;
  border: none;
  border-radius: 5px;
  background: #213757;
  transition: background 0.2s ease;
  opacity: 1;
  &:hover {
    background: #213757;
    opacity: 0.6;
    color: white;
    text-decoration: none;
  }
}


.button-light {
  color: #213757;
  border: 1px solid #213757;
  width: 100px;
  padding: 16px 30px 16px 30px;
  border-radius: 5px;
  background: white;
  transition: background 0.2s ease;
  opacity: 1;
  &:hover {
    background: white;
    opacity: 0.6;
    color: #213757;
    text-decoration: none;
  }
}
