.animate__animated {
  text-align: center;
  margin-right: 155px;
  color: #a42e1a;
  font-size: 50px;
}

.budget-card {
  display: flex-end;
  text-align: center;
  margin: 50px;
  height: 150px;
  width: 250px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

// .budget {
//   text-align: left;
//   font-weight: bold;
//   color: green;
//   margin-bottom: 1px;
//   margin-left: 10px;
//   padding-top: 10px;
// }

// .budget1 {
//   text-align: left;
//   font-weight: bold;
//   color: red;
//   margin-left: 10px;
// }

.card-link-to-player {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
}

