.card-player-info {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  padding: 16px;
  margin: 5px;
}

.card-player-info h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-player-info p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.budget-card {
  margin: 20px;
  background: white;
  height: 150px;
  width: auto;
}

.budget {
  font-weight: bold;
  color: green;
}

.card-link-to-player {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
}

