#filter-search {
  height: 100ch;
  width: 100%;
  position: sticky;
  top: 0;
}

.filter-players {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.filter-player {
  width: 100px;
  margin-right: 10px;
  font-size: 12px;
  background: #FAFAFA;
  border-style: solid;
  padding: 15px;
  border-radius: 5px;
  opacity: 0.4;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
    background: #F05D5E;
    color: white;
    opacity: 1;
    border: #F05D5E;
    font-weight: bold;
  }

}

.form-group {
  margin: 0px 15px 0px 15px;
}
.hidden {
  display: none;
}


