#filter-search {
  width: 100%;
  margin-top: 30px;
}

.filter-players {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.filter-player {
  width: 100px;
  border-width: 1px;
  margin-right: 10px;
  font-size: 12px;
  background: #FAFAFA;
  border-style: solid;
  padding: 15px;
  border-radius: 5px;
  opacity: 0.4;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
    background: #192a42;
    color: white;
    opacity: 1;
    border: #192a42;
    font-weight: bold;
    border-width: 1px;;
  }

}

.form-group {
  margin: 15px 15px 50px 15px;
}
.hidden {
  display: none;
}


