.navbar-lewagon {
  justify-content: space-between;
  background: #fcfdff;
  transition: 0.5s background-color ease;
  height: 95px;
}

.navbar-lewagon-transparent {
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  list-style-type: none;
  a {
    color: #213757;
    margin-right: 20px;
    &:hover{
    transition: all 0.25s 0s cubic-bezier(0.4, 0.25, 0.3, 1), color 125ms 0s cubic-bezier(0.4, 0.25, 0.3, 1);
    cursor: pointer;
    font-weight: bold;
    border-bottom: 2px solid #213757;
    }
  }

}

.nav-search {
  width: 350px;
  vertical-align: middle;
}
