.navbar-lewagon {
  justify-content: space-between;
  background: #E6E8E6;
  transition: 0.5s background-color ease;
  height: 95px;
}

.navbar-lewagon-transparent {
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  list-style-type: none;
}

.nav-search {
  width: 350px;
  vertical-align: middle;
}
