.posts{
  background: white;
  border: 1px solid lightgray;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.05);
}

.img-post{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.post{
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.o-posts{
  justify-content: space-between;
  background: white;
  border: 1px solid lightblue;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.05);
}

.o-post{
  padding-bottom: 5px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  height: auto;
  width: 99%;
}

.p-post{
  margin-left: 5px;
}


.inputform {
  margin-bottom: 15px;
}


.likes{
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.header-post {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  span {
    margin-left: 10px;
  }
}

.delete-btn {
  padding: 9px;
}

.post-image > img{
  width: 100%;
}

