.wish-player-overview {
  position: relative;
  width: 625px;

  img {
    height: 20px;
    width: 20px;
  }

  // .icons {
  //   position: absolute;
  //   display: flex;
  //   justify-content: space-between;
  //   width: 255px;
  //   right: 0;
  //   top: -34px;
  // }
}

// .player-card-small {
//   margin: 0 0 12px;
//   display: block;
//   display: flex;
//   align-items: center;
// }

.active-star {
  color: #499aff;
}

#wishlist-header {
  margin-top: 35px;
}

#td-personal-wish {
  font-weight: bold;
  width: 125px;
}

#td-position-wish {
  font-weight: bold;
  opacity: 0.7;
  width: 14%;
}

#td-stats-wish {
  text-align: right;
  width: 14%;
  padding-right: 15px;
}

#td-stats-last-wish {
  text-align: right;
  width: 14%;
  padding-right: 15px;
}

#td-salary-wish {
  text-align: right;
  padding-right: 90px;
}

#header-spacer {
  margin-bottom: 15px;
}

#delete {
  text-align: center;
  i {
    padding: 5px;
    color: #499AFF;
    font-size: 16px;
    z-index: 1000;
    &:hover {
      opacity: 0.7;
    }
  }
}

.player-card-small-link-wish {
    position: absolute;
    height: 55px;
    width: 575px;
    background: transparent;
    z-index: 2;
  }
